body {
  font-family: Arial, sans-serif;
  background-color: lightskyblue;
  color: #333;
  margin: 0;
  padding: 0;
}

#back{
  text-decoration: none;
  color: black;
}
.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 40px;
}

.hobby-section {
  display: flex;
  align-items: center;
}

.hobby-image {
  flex: 1;
  width: 1000px;
  height: 400px;
  background-image: url('hobby-image.png');
  background-size: cover;
  background-position: center;
  border-radius: 8px;
}

.hobby-description {
  flex: 1;
  padding: 40px;
  background-color: #fff;
  border-radius: 8px;
}

h2 {
  font-size: 24px;
  margin-bottom: 20px;
  color: #333;
}

p {
  font-size: 18px;
  line-height: 1.5;
  color: #555;
}